<div>
  <h3>Drag Element</h3>
  <button id="dragOn">ON</button>
  <button id="dragOff">OFF</button>
</div>

<div class="container">
  <div id="dragBox" class="title">
    <p>Title/nav</p>
  </div>
  <div id="dragBox" class="chat">
    <p>Chat box</p>
  </div>
  <div id="dragBox" class="mainContent">
    <p>Main content</p>
  </div>
  <div id="dragBox" class="friendBox">
    <p>Friends list</p>
  </div>
  <div id="dragBox" class="footer">
    <p>footer</p>
  </div>
</div>
